html,
body {
    height: 100%;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

/*.grid-view td {
    white-space: nowrap;
}*/

.grid-view .filters input,
.grid-view .filters select {
    min-width: 50px;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding: 15px;
    border: none;
}

@media(max-width:767px) {
    .nav li > form > button.logout {
        display:block;
        text-align: left;
        width: 100%;
        padding: 10px 15px;
    }
}
@media(min-width:1400px) {
    .container {
        width: 1400px;
    }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
}

.nav > li > form > button.logout:focus {
    outline: none;
}
.block {
    position: relative;
    margin: 40px auto;
    border: 1px solid #a1a1a1;
    border-radius: 5px;
    border-bottom: 5px solid #a1a1a1;
    list-style: none;
}
.block .header {
    padding: 20px;
    background-color: #c3c3c3;
    margin: 0;
}
.block .header h3 {
    margin: 0;
}
.block .content {
    padding: 20px;
}
.block .remove {
    position: absolute;
    right: 27px;
    top: 12px;
    font-size: 30px;
    color: #f11;
    font-weight: bold;
    cursor: pointer;
}
.spectrum-input {
    width: 80px!important;
}
input[type="checkbox"] {
    float: left;
}
.inline-block {
    display: inline-block;
    vertical-align: top;
}
.block-fact-item, .block-card-item {
    position: relative;
    border: 1px solid #a1a1a1;
    border-radius: 5px;
    padding: 20px;
}
.block-gallery-image {
    position: relative;
    padding-top: 15px;
}
.remove-fact-item, .remove-card-item, .remove-gallery-image {
    position: absolute;
    top: -3px;
    right: 10px;
    font-weight: bold;
    font-size: 30px;
    color: #f11;
    cursor: pointer;
}
.remove-gallery-image {
    top: -20px;
}
ul.sortable li {
    cursor: move;
    white-space: nowrap;
}
.order-controls {
    font-size: 18px;
    vertical-align: middle;
}
.order-controls a {
    margin: 0 5px;
}
.image {
  max-width: 100%; /* This rule is very important, please do not ignore this! */
}
.sizes-wrap > * {
    display: inline;
    width: 45%;
}
.images-wrap {
    margin: 20px 0;
}
.image-row {
    display: inline-block;
    width: calc(25% - 10px);
    margin: 0 5px 5px 0;
    vertical-align: top;
    border: 1px solid #bbb;
    border-radius: 10px;
    padding: 12px 10px 0 10px;
    overflow: hidden;
}
.image-row :first {
    margin-left: 0;
}
.crop-header {
    font-size: 14px;
    font-weight: 700;
    padding-bottom: 10px;
}
.crop-header span {
    font-size: 12px;
    font-weight: normal;
}
.modal-dialog {
    width: 1500px;
    margin: 30px auto;
}
.modal-title span {
    margin-left: 40px;
    color: #e33;
    font-size: 13px;
}
.crop-wrap {
    display: inline-block;
    vertical-align: top;
    width: 1200px;
}
.crop-wrap .image {
    width: 100%;
    height: auto;
}
.crop-inputs {
    display: inline-block;
    vertical-align: top;
    width: 250px;
    margin-left: 10px;
}
.preview {
    display: inline-block;
    width: 100%;
    /*height: auto!important;
    overflow: hidden;
    min-height: 50px;*/
    margin-bottom: 10px;
}
.crop-inputs .preview {
    margin-top: 10px;
}
/*.preview img {
    width: 250px!important;
    height: auto!important;
    min-height: 150px;
}*/
.initial-preview {
    max-width: 100%;
    //min-width: 200px;
}
.controls {
    display: inline-block;
    width: 130px;
    vertical-align: top;
}
.attribute-input-group {
    display: inline-block;
    width: calc(100% - 145px);
    vertical-align: top;
}
.fileinput {
    display: block!important;
}
.fileinput .thumbnail {
    min-width: 100px;
    min-height: 50px;
    width: 100%;
}
.block-gallery-image {
    border-bottom: 1px solid #ddd;
    margin-bottom: 5px;
}
.crop-image-input {
    display: none!important;
}
.form-group {
    position: relative;
}
.remain {
    position: absolute;
    top: 30px;
    right: 10px;
    color: #b87d2b;
    font-size: 12px;
}
.error {
    border-color: rgb(255, 0, 0);
}